body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3e51a3, #23b0e6);
}

.titulo_h1 {
    margin-top: 5%;
    color: white;
}

.divPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.center-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 1000px;
    margin-bottom: 25%;
}

.textAreaResponderPregunta {
    margin-right: 300px;
    resize: none;
    background-color: #ececec;
    color: #131313;
    padding: 1em;
    border-radius: 10px;
    width: 95%;
    height: 100%;
    border: 1px solid;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;

}

.textAreaSubject {
    margin-right: 300px;
    resize: none;
    outline: none;
    background-color: #ececec;
    color: #131313;
    padding: 1em;
    border-radius: 10px;
    width: 95%;
    height: 10%;
    border: 1px solid;
    margin-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;
}

.textAreaResponderPregunta:focus {
    outline: 1px solid rgb(20, 67, 167);
}


.submitButton {
    background-color: #d8cb1c;
    color: white;
    border: black 1px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin-top: 5%;
}

.submitButton:hover {
    background-color: #cfc30f;

}